<label class="w-label" for="{{id}}">{{#if required}}{{> @required-indicator}}{{/if}}{{label}}<br/><span class="w-help-text">{{helpText}}</span></label>
<input class="w-input-field" id="{{id}}" type="{{type}}" {{#if required}}required onkeyup="checksIfEmpty(event)" {{/if}}>