<label style="font-weight: 600" for="{{id}}">{{#if required}}{{> @required-indicator}}{{/if}}{{label}}<br/><span style="font-weight: 400; font-size: .875rem;">{{helpText}}</span></label>
<input class="wds-input-field" id="{{id}}" type="{{type}}" {{#if required}}required onkeyup="checksIfEmpty(event)" {{/if}}>